manifest {
    name = 'taowis/amrscan-dev'
    mainScript = 'main.nf'
    version = '2.0.0-dev'
    nextflowVersion = '>=25.04.6'
}

params {
    input = null
    outdir = 'results/v2'
    threads = 4
    amrfinder_db = null
    amrfinder_bin = 'amrfinder'
    amrfinder_organism = null
    amrfinder_plus = false
    amrfinder_identity = -1
    amrfinder_coverage = 0.5
    validate_only = false
    help = false
}

includeConfig 'conf/base.config'
